@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .glassmorphism {
    background: hsla(0, 0%, 40%, 0.4); 
    backdrop-filter: blur(10px);
    border-radius: 10px;
  },

  .glassmorphismlight {
    background: hsla(0, 0%, 20%, 0.2); 
    backdrop-filter: blur(10px);
    border-radius: 10px;
  }
}